<div id="footer">
  @Html.ActionLink("View All Stylists", "Index", "Stylists")
  @Html.ActionLink("Add a Stylist", "Create", "Stylists")
  @Html.ActionLink("Add a client", "Create", "Clients")
  </div>