body {
  background-color: black;
  color: #b793ff;
}

a {
  color: #FFF;
}
.client {
  background-color: #ffedb6;
  padding-top: 1%;
  padding-bottom: 2%;
  padding-right:1%;
  padding-left:1%;
  margin: 1%;
  width:20%;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#b793ff;
  background:black;
  padding:8px;
  font-size:18px;
}

div#overlay {
  background-color: #b793ff;
  color:black;
  margin: 2%;
  padding: 5%;
}

div#flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#logo {
  width:70%;
}