body {
  background-color: black;
  color: #b793ff;
}

a {
  color: #FFF;
}

div#header {
  position:fixed;
  top: 0px;
  margin: 0 auto;
  width: 100%;
  background-color: #b793ff
}

div#entry {
  display: flex;
  position: fixed;
  bottom: 50%;
  margin: auto 0;
  justify-content: center;
  width: 100%;

}