body {
  background-color: black;
  color: #b793ff;
}

a {
  color: #FFF;
}
client {
  background-color: #7733ff;
}
div#footer {
  position:fixed;
  bottom: 0px;
  margin: 0 auto;
  width: 50%;
  color: #b793ff;
  background-color: black;
  text-align: center;
}

div#entry {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #b793ff;
  color:black;
  margin: 2%;
  padding: 5%;
}

clients
{
  display:flex;
  flex-direction: row;
}

#logo {
  width:70%;
}